* {
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
font-family: 'Special Elite', cursive;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white--clr:white;
    --black--clr:black;
    --light__black--clr:rgba(0, 0, 0, 0.859);
    --real__gray--clr: gray;
    --gray--clr:rgb(72, 70, 70);
    --orange--clr:rgb(255, 110, 66);

    --100--fs:clamp(.7rem,.9vw,.9rem);
    --200--fs:clamp(1rem,1.9vw,3rem);
    --300--fs:clamp(1rem,2.4vw,3rem);
    --400--fs:clamp(1.3rem,2.5vw,1.9rem);
    --500--fs:clamp(1.8rem,2vw,2.1rem);
    --600--fs:clamp(2.1rem,2.5vw,2.7rem);
    --700--fs:clamp(2.5rem,6vw,6.1rem);
}

/* again__and__again */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex__row {
    display: flex;
    flex-direction: row;
}

.flex__column {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

/* end__again__and__again */


.header {
    position: fixed;
    max-height: 4.5rem;
    background: var(--white--clr);
    /* border: 2px solid red; */
    width: 100%;
    z-index: 1;
}

.nav__list {
    height: 100vh;
    transition: all .5s ease-in-out;
    transform-origin: right;
    transform: scale(0,1);
}

.nav__ul {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transform: translate(45%,0%);
    /* border: 3px solid green; */
    list-style: none;
}

.nav__li {
    margin-top: 2rem;
}

.nav__link {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--white--clr);
    font-size: var(--200--fs);
}

.nav__link:hover {
    color: var(--orange--clr);
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    margin-top: .5rem;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 5rem;
    top: 35rem;
    left: 0;
    background: var(--white--clr);  
    clip-path: ellipse(53% 90% at 50% 120%) ;
}

.hero::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    top: 40rem;
    left: 0;
    background: var(--white--clr);  
    clip-path: line;
}

    /* hamburger */

.header__checkbox {
    display: none;
}

.header__label {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    /* border: 3px solid red; */
    cursor: pointer;
}

.header__label span {
    display: block;
    position: relative;
    background: var(--black--clr);
    width: 100%;
    height: 3px;
    border-radius: 1rem;
}

.header__label span:nth-child(1) {
    top: 1px;
    transition: all .4s ease-in-out;
}

.header__label span:nth-child(2) {
    top: 9px;
    transition: all .4s ease-in-out;
}

.header__label span:nth-child(3) {
    top: 17px;
    transition: all .4s ease-in-out;
}

.header__checkbox:checked ~ nav {
    transform: scale(1,1);
    background: var(--gray--clr);
    transition: all .4s ease-in-out;
}

.header__checkbox:checked ~ .header__label span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 1rem;
    width: 2rem;
    background: var(--orange--clr);
}

.header__checkbox:checked ~ .header__label span:nth-child(2) {
    display: none;
}

.header__checkbox:checked ~ .header__label span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    width: 2rem;
    background: var(--orange--clr);
}

/* end__hamburger */

/* hero__section */

.hero {
    background: url(./imgs/header.jpg) center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.638);
}

.hero h1,
.hero h3 {
    color: var(--white--clr);
    text-transform: capitalize;
}

.hero h3 {
    font-weight: 100;
    letter-spacing: .4rem;
    font-size: var(--300--fs);
}

.hero h1 {
    font-size: var(--700--fs);
    font-weight: bolder;
}

.hero__animation {
    content: '';
    width: 1.3rem;
    height: 2.3rem;
    position: absolute;
    left: 50%;
    top: 30rem;
    border-radius: 1rem;
    transform: translate(0%,80%);
    border: 2px solid var(--white--clr);
    transform: scale(1);
}

.hero__animation::before {
    content: '';
    display: block;
    width: 2px;
    height: 6px;
    background: var(--white--clr);
    margin-left: 9px;
    animation: fadeout 1.4s ease-in-out;
    animation-iteration-count: infinite;
}


  @keyframes fadeout {
    from {
        transform: translateY(120%);
    }
    to {
        transform: translateY(340%);
        opacity: 0;
    }
  }

/* end__hero__section */

/* services */

.services {
    margin-inline: 1rem;
    height: 150vh;
}

.top {
    text-align: center;
    color: var(--light__black--clr);
    font-size: var(--400--fs);
    letter-spacing: 1px;
    text-transform: capitalize;
}

.top p {
    font-size: var(--200--fs);
    margin-top: 10px;
    margin-bottom: 2rem;
}

.bottom { 
    margin-inline: 1rem;
}

.bottom p {
    color: var(--gray--clr);    
}

.services__bottom {
    counter-reset: numbring;
}

.bottom__box {
    margin-top: 2rem;
    margin-inline: 1rem;
}

.bottom__box h2::before {
    display: block;
    counter-increment: numbring;
    content: counter(numbring);
    font-weight: bolder;
    color: var(--orange--clr);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.bottom__box p {
    margin-top: 1rem;
    color: var(--gray--clr);
}

/* end__services */


/* about__section */

.about {
    margin-inline: 1rem;
}

.about {
    /* border: 2px solid red; */
    text-align: left;
    height: 190vh;
}

.about .top {
    text-align: left;
}

.about,
.about__left > *,
.about__right > *
 {
    margin-top: 1rem;
}

.about__table__img {
    width: 24rem;
}

.about__two__img {
    max-width: 26rem;
    display: flex;
    justify-content: space-between;
}

.about__img {
    width: clamp(12rem,14vw,15rem);
}


.about p {
    color: var(--gray--clr);
}

/* send__about__section */

/* portfolio */

.portfolio__bottom {
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.btn {
    font-size: .9rem;
    text-transform: capitalize;
    cursor: pointer;
    border: transparent;
    color: var(--gray--clr);
}

.btn:hover {
    color: var(--black--clr);
}

/* end__portfolio */

/* blog */

.blog {
    margin-left: 2rem;
    height: 290vh;
}

.blog__img {
    width: 28rem;
    height: 22rem;
}

.blog h3 {
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.blog p {
    letter-spacing: 1px;
    color: var(--gray--clr);
}

.blog__link {
    color: var(--gray--clr);
    text-decoration: none;
}

.blog__bottom > * {
    margin-top: 1rem;
}

.blog__one > *,
.blog__two > *,
.blog__three > * {
    margin-bottom: 1rem;
}

/* end__blog */

/* responsive */

@media screen and (min-width:51em) {


    .top p {
        all: unset;
        color: var(--gray--clr);
        font-size: var(--200--fs);
    }

    .nav__list {
        margin-top: .3rem;
        margin-left: 75%;
        height: 60vh;
    }

    .header__checkbox:checked ~ nav {
        width: 25%;
    }

    .nav__li {
        position: relative;
        right: 2rem;
        bottom: 1rem;
    }

    .services__bottom {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* border: 2px solid red; */
        gap: 3rem;
    }
    
    .about
     {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    .blog__bottom {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }

    .blog h3,
    .blog p {
        max-width: 15rem;
    }

    .blog__img {
        width: 16rem;
        height: 12rem;
    }

    .services,
    .about,
    .portfolio,
    .blog
     {
        height: 100vh;
    }
}

/* end__responsive */