* {
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
}

:root {
    --white--clr:white;
    --black--clr:black;
    --light__black--clr:rgba(0, 0, 0, 0.859);
    --real__gray--clr: gray;
    --gray--clr:rgb(72, 70, 70);
    --orange--clr:rgb(255, 110, 66);

    --100--fs:clamp(.7rem,.9vw,.9rem);
    --200--fs:clamp(1rem,1.9vw,3rem);
    --300--fs:clamp(1rem,2.4vw,3rem);
    --400--fs:clamp(1.3rem,2.5vw,1.9rem);
    --500--fs:clamp(1.8rem,2vw,2.1rem);
    --600--fs:clamp(2.1rem,2.5vw,2.7rem);
    --700--fs:clamp(2.5rem,6vw,6.1rem);
}

/* again__and__again */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex__row {
    display: flex;
    flex-direction: row;
}

.flex__column {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

/* end__again__and__again */


.header {
    position: fixed;
    max-height: 4rem;
    background: var(--white--clr);
    /* border: 2px solid red; */
    width: 100%;
}

.nav__list {
    height: 100vh;
    transition: all .5s ease-in-out;
    transform-origin: right;
    transform: scale(0,1);
}

.nav__ul {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transform: translate(45%,5%);
    /* border: 3px solid green; */
    list-style: none;
}

.nav__li {
    margin-top: 2rem;
}

.nav__link {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--white--clr);
    font-size: var(--200--fs);
}

.nav__link:hover {
    color: var(--orange--clr);
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
}

/* hamburger */

.header__checkbox {
    display: none;
}

.header__label {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    /* border: 3px solid red; */
    cursor: pointer;
}

.header__label span {
    display: block;
    position: relative;
    background: var(--black--clr);
    width: 100%;
    height: 3px;
    border-radius: 1rem;
}

.header__label span:nth-child(1) {
    top: 1px;
}

.header__label span:nth-child(2) {
    top: 9px;
}

.header__label span:nth-child(3) {
    top: 17px;
}

.header__checkbox:checked ~ nav {
    transform: scale(1,1);
    background: var(--gray--clr);
}

/* end__hamburger */

/* hero__section */

.hero {
    background: url(./imgs/header.jpg) center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.524);
}

.hero h1,
.hero h3 {
    color: var(--white--clr);
    text-transform: capitalize;
}

.hero h3 {
    font-weight: 100;
    letter-spacing: .4rem;
    font-size: var(--300--fs);
}

.hero h1 {
    font-size: var(--700--fs);
    font-weight: bolder;
}

.hero__animation {
    content: '';
    width: 1.3rem;
    height: 2.3rem;
    position: absolute;
    left: 50%;
    top: 30rem;
    border-radius: 1rem;
    transform: translate(0%,80%);
    border: 2px solid var(--white--clr);
}

.hero__animation::before {
    content: '';
    display: block;
    width: 2px;
    height: 6px;
    background: var(--white--clr);
    margin-left: 9px;
    animation: mymove 1.3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.6;
}


@keyframes mymove {
    from {transform: translateY(120%);}
    to {transform: translateY(300%);}
  }

/* end__hero__section */

/* services */

.services {
    display: grid;
    place-items: center;
    /* border: 2px solid red; */
}

.top {
    /* border: 2px solid red; */
    text-align: center;
    color: var(--light__black--clr);
    font-size: var(--400--fs);
    letter-spacing: 1px;
    text-transform: capitalize;
}

.top p {
    font-size: var(--200--fs);
    margin-top: 10px;
}

.bottom { 
    height: 70vh; 
    margin-inline: 1rem;
}

.bottom p {
    color: var(--gray--clr);    
}

.bottom__box {
    margin-top: 2rem;
    margin-inline: 2rem;
}

.bottom__box::before {
    content: '01';
    font-weight: bolder;
    color: var(--orange--clr);
}

.bottom__box > * {
    margin-top: .5rem;
}

/* end__services */


/* about__section */

.about {
    margin-top: 4rem;
    margin-inline: 1rem;
}

.about :first-child {
    width: 100%;
    text-align: left;
}   

.about :first-child > *:nth-child(2) {
    margin-bottom: 2rem;
}

.bottom > * {
    margin-top: 1rem;
    color: var(--gray--clr);
}

.table {
    width: clamp(25rem,40vw,50rem);
    height: clamp(15rem,25vw,25rem);
}

.right__img {
    width: 26rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.about__img {
    width: clamp(12rem,22vw,28rem);
    height: clamp(12rem,22vw,28rem);
}

/* send__about__section */
